[submodule "modules/config"]
	path = modules/config
	url = https://github.com/dsi-infrastructure/puppet-config.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/dsi-infrastructure/puppet-apache.git
